#search-bar {
  display: inline-block;
  margin: 0;
  
  a {
    position: relative;
    z-index: 1;
  }

  form {
    display:inline;
    position: absolute;
    right: 40px;
    margin-top: -30px;
    background-color: white;
    z-index: 0;

    #keywords {
      width: 100%;
      padding-right: 30px;
      margin-left: -15px;
      background-color:E8E8E3;
    }
  }
}

#searchbar{
  display: block;
  margin: 0;

  form{
    
    #keywords{
        width: 80%;

    }
    input[type="submit"]{
      width: 19%;
      margin-left: 1%;
    } 
  }
}

