.slider-pager {
  position: absolute;
  width: 100%;
  top: -20px;
  display: none;
}


.bx-wrapper {

  .bx-pager.bx-default-pager {
    .bx-pager-item {
      display: inline-block;
      padding-right: 3px;
    }

    a {
      background-color: #dedede;

      &.active, &:hover {
        background-color: $c_green;
      }
    }
  }
}

.bx-wrapper {
  margin-bottom: 0px;

  .bx-viewport {
    @include box-shadow(none);
    background-color: transparent;
    border: none;
  }
  .bx-controls {
    position: absolute;
    width: 100%;
    bottom: -20px;
  } 
}

#latest-products{
  .bx-wrapper .bx-pager {
    bottom: -35px;
  }
}

.carousel {
  list-style: none;

  li {
    text-align: center;
    width: 170px !important;

    .product-image {
      a {
        float: none;
        margin: 0 auto;
      }  
    }

    .product-name {
      display: block;
      font-size: 12px;
      margin-top: 20px;
    }

    .product-sku {
      display: none;
    }
  }
}

.product-image {
  a {
    @include transition-duration(0.3s);
    float: left;
    display: block;
    position: relative;
    background-color: white;
    overflow: hidden;

    img {
      
    }
  }
}

#home-slider {
  margin-bottom: 15px;

  h1 {
    font-size: 24px !important;
    font-weight: 600 !important;
  }

  ul {
    list-style: none;

    li {
      font-size: 16px;
      line-height: 24px;

      .product-title {
        color: white;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      .product-price {
        font-size: 48px;
        font-weight: 600;
        margin-right: 25px;
      }

      .product-info {
        float: left;
        overflow: hidden;
        width: 65%;

        .product-order-form {
          margin-top: 25px;
        }
      }

      .product-image {
        overflow: auto;
        float: left;
        width: 35%;
        margin-top: 40px;
      }

      input[type="number"] {
        margin-right: 25px;
        width: 85px;
      }

      button, input[type="number"] {
        background-color: white;
        color: $c_orange;
        border-color: darken($c_green, 5);
        font-size: 16px;
        vertical-align: text-bottom;

        &:hover {
          color: darken($c_orange, 5) !important;
        }

        i {
          color: $c_blue;
        }
      }
    }
  }
}
