/*--------------------------------------*/
/* Colors
/*--------------------------------------*/
$c_green:       #E5E5E0 !default;  /* lighter gray    */
$c_red:         #e45353 !default;  /* Error red      */
$c_blue:        #7F7F7C !default;  /* Darker gray */
$c_orange:      #40403E !default;

$layout_background_color:   #F6F6F6 !default;
$title_text_color:          #404042 !default;
$body_text_color:           #40403E !default;
$link_text_color:           #A6A6A2 !default;

$product_background_color:  #FFFFFF !default;
$product_title_text_color:  #40403E !default;
$product_body_text_color:   #40403E !default;
$product_link_text_color:   #BBBBBB !default;

/* -------------------------------------------- */
/* Load "Open Sans Condensed" font from Google Fonts
/* -------------------------------------------- */
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

/*--------------------------------------*/
/* Font families
/*--------------------------------------*/
$ff_base:       'Open Sans Condensed', sans-serif;

/*--------------------------------------
  | Font sizes
  |--------------------------------------
  |- Navigation                         
  |                                    */
      $header_navigation_font_size:           16px !default;
      $horizontal_navigation_font_size:       16px !default;
      $main_navigation_header_font_size:      16px !default;
      $main_navigation_font_size:             14px !default;
/*|------------------------------------
  |- Product Listing                         
  |                                  */
      $product_list_name_font_size:           14px !default;
      $product_list_price_font_size:          16px !default;
      $product_list_header_font_size:         20px !default;
      $product_list_search_font_size:         16px !default;
/*|------------------------------------
  |- Product Details
  |                                  */
      $product_detail_name_font_size:         24px !default;
      $product_detail_description_font_size:  16px !default;
      $product_detail_price_font_size:        20px !default;
      $product_detail_title_font_size:        16px !default;
/*|------------------------------------
  |- Basic
  |                                  */
      $heading_font_size:                     24px !default;
      $sub_heading_font_size:                 16px !default;
      $button_font_size:                      12px !default;
      $input_box_font_size:                   13px !default;
      $base_font_size:                        16px !default;
      $border_color:                          lighten($body_text_color, 30) !default;
      $default_border:                        1px solid $border_color !default;
      $button_border_color:                   rgba(0, 138, 189, .75) !default;
      $table_head_color:                      lighten($body_text_color, 60) !default;
