body {
  line-height: 24px;
}

.page-wrapper {
  float: right;
  width: 100%;
  @include transition-duration(0.2s);
}
  
.hidden { display: none }

#logo {
  margin-left: 0px;
}

#content{
  margin-left: 20px;
  margin-right: 0px;
}

#latest-products, #featured-products {
  h3 { color: #F58602; 
    font-size: 20px;
    margin-bottom: 5px;
  }

  ul li{
    background-color: #FFF;
    color: $body_text_color;
    border: 1px solid #ECECEC;
    float: left;
    height: 170px;
    margin: 0 15px 14px 0;
    padding: 6px;
    position: relative;
    overflow: hidden;

    .product-image a{
      display: block;

      img{
        display: block;
        height: 135px;
        width: 164px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
      }
    }

    
    

    .product-name{
      color: $body_text_color;
      font-weight: normal;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
    }

    .price {
      color: #9DC82A;
      display: block;
      float: right;
      margin: 0;
      padding: 0; 

    }

  }
  
  .bx-pager.bx-default-pager a.active,
  .bx-pager.bx-default-pager a:hover {
    background-color: $c_blue !important;
  }

  .bx-pager.bx-default-pager{
    display: none;
  }
}

#wrapper {
  margin-top: 0px;
}


#sidebar_products_search {
  .filter-title {
    color: $c_blue;
    border-color: lighten($c_blue, 30);
  }

  .filter_choices {
    font-size: 14px;
    list-style: none;
  }
}


footer#footer {
  @include single-box-shadow(darken($c_blue, 10), 0, 0, 15px, 0, true);
  // background: image-url("store/footer-bg.png") repeat center;
  background-color: #969693;
  margin-top: 30px;
  border-top: 2px solid lighten($c_blue, 30);
  padding-top: 30px;
  font-size: 14px;
  line-height: 24px;



  &, a, h5 {
    color: white;
  }

  a:hover {
    color: #00D7E5 !important;
  }

  h5 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 17px;
  }

  p {
    padding-top: 0;
  }

  ul {
    list-style: none;

    li {

    }
  }

  .social{
    margin-right: 5px;
  }

  #copyright-wrap{
    border-top: 1px solid #A6A6A2;
    margin:0;
    #copyright{
      padding-top: 5px;
      text-transform: uppercase;
      letter-spacing: 1px; 
    }
  }

  .form{

    #name, #email{
      width:80%;
      background-color: $layout_background_color;
    }

    textarea{
      width: 100%;
      background-color: $layout_background_color;
    }

    #name, #email, textarea, .submit{
      float: right;
    }
  }

  #subscribe{
    #email{
      width: 90%;
      background-color: $layout_background_color;
    }
  }
}
