body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  @include transition-duration(0.3s);  
}

span.or {
  display: inline-block;
  padding: 0 5px;
  line-height: 34px;  
}

b, strong, dl dt {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-family: "Open Sans Condensed";  
  color: #404040;
  display: block;
  letter-spacing: 0;
  text-transform: uppercase;
}

h6{
  line-height: 22px;
}
#wrapper {
  h3, .search-results-title {
    color: #F58602;
  }  
}