<li id="product_<%= product.id %>" class="columns three" data-hook="featured_products_list_item">
<div class="product-image">
  <%= link_to product_image(product), product %>
</div>

<%= link_to truncate(product.name, :length => 50), product, :class => 'product-name', :title => product.name %>
<span class="price selling" itemprop="price"><%= product.display_price %></span>
</li>
